<div id="some">
	<div id="someId"></div>
</div>
<div (mouseup)="myFunction()" style="height: 600px; overflow-x: hidden; overflow-y: scroll;">
	<div id="pp" style="font-family: GurbaniAkhar">
 		<span *ngIf="printGGInfo">
 		<button class="btn btn-default" [disabled]="count === 1" (click)="prev()">prIivXs</button>
 			<button class="btn btn-default" [disabled]="fileFetchIndex === 31 && count === listGGInfo.length - 2" (click)="next()">nYkst</button> 
 				Sbd kwEt 
 					<input type="text" (keyup)="jumpTo()" [(ngModel)]="iIndex" /> 
 						<span *ngIf="!(iIndex > 0 && iIndex < listGGInfo.length)">Awut AOF rynj</span>
		
    		<div class="scrollbar" id="style-3">
      			<div class="force-overflow container-fluid">
      				{{message}}
      			</div>
    		</div>
 		
 		<font color='black'> rwg : {{printGGInfo.raag}}</font><br/>
		<font color='black'> &nbsp;&nbsp; Gru : {{printGGInfo.ghar}}</font><br/>
		<font color='black'> &nbsp;&nbsp; &nbsp;&nbsp; Sbd : {{printGGInfo.index}}</font><br/>
		<font color='black'> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; pMnw : {{printGGInfo.page}}</font><br/>
		<span *ngFor="let pand of printGGInfo.shabadPands; let i = index">
			<font color='black'> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; pMd : {{printGGInfo.shabadPands[i].number}}</font><br/>
			<font color='#cc0000' size='4' style='font-weight: bold'>{{printGGInfo.shabadPands[i].str}}</font><br/>
			<font *ngIf="i > 1 && printGGInfo.arthPands[i]" color='blue'>{{printGGInfo.arthPands[i].str}}<br/></font>
			<font *ngIf="i === 0" color='blue'>{{printGGInfo.arthPands[1].str}}<br/></font>
			<font *ngIf="i === 1" color='blue'>{{printGGInfo.arthPands[0].str}}<br/></font>
		</span>
		</span>
	</div>
</div>