<div>

<div class="page-header"><h3 align="center">Virtual Machine Allocation App</h3></div>

<ul class="nav nav-tabs nav-justified">
  <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="vmal">VM App Login</a></li>
  <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="vmaal">Virtual Machine Allocation</a></li>
  <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="vmaab">About it</a></li>
</ul>
<div>
	<router-outlet></router-outlet>
</div>
</div>