<div class="container-fluid">

	<div class="row">
	    <div class="input-group">
	      <span class="input-group-addon">
			<input type="checkbox" class="checkbox-primary" [(ngModel)]="existingUser">
	      </span>
	      <span *ngIf="existingUser" class="form-text text-muted">Existing User</span>
	      <span *ngIf="!existingUser" class="form-text text-muted">Create New User for saving password</span>
	    </div><!-- /input-group -->
	</div><!-- /row -->
	
	<div class="form-group">
	  <label>User Id</label>
	  <input type="text" class="form-control" required #userv="ngModel" placeholder="User id for saving encrypted password. This is not your vault password" [(ngModel)]="passwdSaveInfo.userId" required>
	  <div *ngIf="userv.invalid && (userv.dirty || userv.touched)" class="alert alert-danger">
			<div *ngIf="userv.errors.required">User id is mandatory as this is the user against which password will be stored.</div>
	  </div>
	</div>
	<div class="form-group">
	  <label>Passcode</label>
	  <input type="text" class="form-control" required pattern="^[0-9]{4,4}$" #passcodev="ngModel" placeholder="4 digit" [(ngModel)]="passwdSaveInfo.passCode">
	  <div *ngIf="passcodev.invalid && (passcodev.dirty || passcodev.touched)" class="alert alert-danger">
			<div *ngIf="passcodev.errors.pattern">Digit only and must be 4 characters long.</div>
			<div *ngIf="passcodev.errors.required">Passcode is mandatory. Its to know its really you.</div>
	  </div>
	</div>
	<br/>
	<div class="form-group">
	  <label>Reference Text</label>
	  <input type="text" class="form-control" required #reftv="ngModel" placeholder="Some text which can tell what this password is for, for e.g. website name" [(ngModel)]="passwdSaveInfo.refText">
	  <div *ngIf="reftv.invalid && (reftv.dirty || reftv.touched)" class="alert alert-danger">
			<div *ngIf="reftv.errors.required">Yeah it's mandatory otherwise how will you know that what this is for</div>
	  </div>
	</div>
	<div class="form-group">
		<label>Encrypted Password</label>
		<input type="text" class="form-control" required pattern="^.{64,64}$" #encPasswdv="ngModel" placeholder="Your encrypted password" [(ngModel)]="passwdSaveInfo.encPasswd">
		<div *ngIf="encPasswdv.invalid && (encPasswdv.dirty || encPasswdv.touched)" class="alert alert-danger">
			<div *ngIf="encPasswdv.errors.pattern">Your encrypted password have to be 64 character long.</div>
			<div *ngIf="encPasswdv.errors.required">This is what you are going to decrypt hence it is mandatory</div>
	  </div>
	</div>
	
	<div class="form-group" > <!-- two condition like isPopulated(passwdSaveInfo) && !existingUser doesn't work for disabled property but work in *ngIf -->
		<button [disabled]="!isPopulated() || !existingUser" class="btn btn-primary" type="button" (click)="submitInput()">Submit to save</button> <!--  how to enable disable [disabled] didn't work -->
		<button [disabled]="!isPopulated() || existingUser" class="btn btn-primary" type="button" (click)="createUser()">Create New</button>
	</div>
	
	<div class="form-group"  >
	<span class="form-text text-muted" [innerHTML]="message"></span>
	</div>



</div>