<div class="container">
  <div id="header">
    <div style="text-align:center; color:grey"><h2>Simron Deep Singh</h2></div>
    <div style="text-align:center; color:grey">Address: 1012, N. Plum Grove Road, Schaumburg, IL-60173 Mobile: 630-329-3516 Email: simron.singh@gmail.com</div>
  </div>
  <div id="professionalSynopsis" class="mtop40">
    <div><h3>Professional Synopsis</h3></div>
    <ul>
      <li>13 years in software development with Amdocs and Ericsson using J2EE.</li>
      <li>I served in Telecom domain specifically with order management system.</li>
      <li>My key personality traits are innovation and insightfulness. With these traits I have been able to exceed expectations. My innovation list includes numerous tools, quick fixes of problems and resolution of key issues.</li>
      <li>I have been involved in every phase of development cycle solution creation, scoping, design, coding, testing, supporting, managing team, code review, and training, cross site team management.</li>
      <li>I have had role of product owner, security leader, FOSS implementation, tools implementation, performance check.</li>
      <li>Extensive experience of 4 years with jProfiler performance tool.</li>
      <li>Proficient  in Java, J2EE, UML, Enterprise Architect, EJB, JMS, jProfiler, SQL, Servlets, JSP, JSF,  Hibernate, JPA, spring,  XML, HTML, JavaScript, Jquery, Perl</li>
      <li>Well acquainted in creating tools for faster development and improve the quality.</li>
      <li>A very good team player with the ability to work independently with minimal supervision.</li>
      <li>Strong Communication, Interpersonal and Problem solving skills.</li>
      <li>Currently I am working as Solution Architect for AT&T for their digital solution domain.</li>
    </ul>
  </div>
  <div id="professionalExperience"  class="mtop40">
    <div><h3>Professional Experience</h3></div>
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>Period</th><th>Organization</th><th>Designation</th>
          <th>Client</th><th>Project</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>May'2017 till Today</td><td>Amdocs Inc. USA</td><td>Solution Architect</td>
          <td>AT&T</td><td>Digital Experience Technologies</td>
        </tr>
        <tr>
          <td>Jan'2014 to Apr'2017</td><td>Amdocs Inc. USA</td><td>Application Architect</td>
          <td>US Cellular, Telefonica, Comcast</td><td>Order management system for wireless telecom services and handsets</td>
        </tr>
        <tr>
          <td>May’2006 to Dec’2014</td><td>Amdocs Development Center India Private Ltd.</td><td>Development Expert (Application Architect)</td>
          <td>Sprint, Rogers, América Móvil</td><td>Order management system for wireless & wireline telecom services, TV, internet and equipment</td>
        </tr>
        <tr>
          <td>Dec’2004 to Apr’2006</td><td>Ericsson India Pvt Ltd.</td><td>Software Developer</td>
          <td>Dishnet, Airtel (India)</td><td>Wireline Broadband service for wireline & MMS Service for mobile</td>
        </tr>
        <tr>
          <td>Jul’2004 to Nov’2004</td><td>San Industrial Automation</td><td>Project Engineer</td>
          <td>Delhpi (India)</td><td>Industrial automation solution</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="educationQualifcations" class="mtop40">
    <div><h3>Eductaion Qualifications</h3></div>
    Bachelor of technology in Electronics and Communication from GGSIPU (Guru Gobind Singh Indraprashta University), Delhi, India with 72% cpa.
  </div>
  <div id="technologicalBackground" class="mtop40">
    <div><h3>Technological Background</h3></div>
    <table class="table table-hover table-sm">
      <thead></thead>
      <tbody>
        <tr>
          <td style="font-weight: bold">Tools</td><td>Enterprise Architect, Rational Rose, Eclipse, NetBeans, Intellij, TOAD, Oracle Sql Developer, MySql Workbench/Toad,  jProfiler, 
            CC, Xtra-C, Perforce, Quality Center, JRebel, HP Fortify, PMD, Sonar, FindBugs, Ant, Maven</td>
        </tr>
        <tr>
          <td style="font-weight: bold">Database</td><td>Orable 12g, MySQL, H2, SQLite</td>
        </tr>
        <tr>
          <td style="font-weight: bold">Programming Languages</td><td>Java8, C, C++, PL/SQL, JavaScript, XSL, Bash, Perl, UML</td>
        </tr>
        <tr>
          <td style="font-weight: bold">Operating Systems</td><td>Windows  / Linux</td>
        </tr>
        <tr>
          <td style="font-weight: bold">Java/J2EE Frameworks</td><td>Spring</td>
        </tr>
        <tr>
          <td style="font-weight: bold">ORM</td><td>Hibernate, EJB</td>
        </tr>
        <tr>
          <td style="font-weight: bold">MVC</td><td>Servlet, JSP, Struts, Spring MVC, Apache MyFaces</td>
        </tr>
        <tr>
          <td style="font-weight: bold">Web services</td><td>JAX-WS</td>
        </tr>
        <tr>
          <td style="font-weight: bold">AJAX</td><td>JSON</td>
        </tr>
        <tr>
          <td style="font-weight: bold">AOP</td><td>AspectJ, Spring</td>
        </tr>
        <tr>
          <td style="font-weight: bold">JavaScript</td><td>jQuery, AngularJS, Backbone.js</td>
        </tr>
        <tr>
          <td style="font-weight: bold">Servers</td><td>Apache Tomcat 7, BEA Weblogic 10, Jboss 7, IBM Websphere</td>
        </tr>
        <tr>
          <td style="font-weight: bold">Mobile</td><td>Android Studio</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="roleAndResponsibility" class="mtop40">
    <div><h3>Role and Responsibility</h3></div>
    <div *ngFor="let rr of rrArr">
      <table class="table table-sm">
        <thead></thead>
        <tbody>
          <tr><td style="font-weight: bold">Company</td><td>{{rr.company}}</td></tr>
          <tr><td style="font-weight: bold">Client</td><td>{{rr.client}}</td></tr>
          <tr><td style="font-weight: bold">Application</td><td>{{rr.application}}</td></tr>
          <tr><td style="font-weight: bold">Duration</td><td>{{rr.duration}}</td></tr>
          <tr><td style="font-weight: bold">Software Platform</td><td>{{rr.sofwarePlatform}}</td></tr>
          <tr><td style="font-weight: bold">Designation</td><td>{{rr.designation}}</td></tr>
          <tr><td style="font-weight: bold">Responsibility</td><td>
              <ul>
                <li *ngFor="let str of rr.responsiblities">{{str}}</li>
              </ul>
            </td>
          </tr>
          <tr *ngIf="rr.achievments[0]"><td style="font-weight: bold"></td>
            <td>
              <div style="font-weight: bold"> Special Achievments</div>
              <ul>
                <li *ngFor="let str of rr.achievments">{{str}}.</li>
              </ul>
            </td>
          </tr>
          <tr *ngIf="rr.tools[0]"><td style="font-weight: bold"></td>
            <td>
              <div style="font-weight: bold"> Self Initiated Tools</div>
              <ul>
                <li *ngFor="let str of rr.tools">{{str}}.</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <hr style="border-top:dashed; border-width:3px">
    </div>
  </div>
</div>