<div class="container-fluid">
	This tool is created to solve purpose of having different password for each login and to keep these safely. A person create his/her login into many websites
	with pattern of same user name (generally email id) and same password so that it can be remembered.
	<ul>
		<li>If one website get hacked in a manner that hacker have both your user name and password then it can be assumed all your accounts can now be easily
			hacked.</li>
		<li>Even if you create different password for each site then you have to store it somewhere(ofcourse there will be pattern in it as well). Now storage
			location is another source of problem to manage.</li>
	</ul>
	Using this tool you can
	<ul>
		<li>Generate very strong password. ASSUMING password stored by browser is very very safe, so you can save it there so that you don't have to retrieve it
			always.</li>
		<li>Get encrypted text of your password. You can save it safely anywhere (online as well) as no one will be able to decrypt it. It is using AES 256bit
			encryption</li>
		<li>Only you can decrypt it with combination of your valut password and salt. NOTE: create very big vault password like sentence, never share it with
			anyone, for first time get generated salt and remember it for future uses</li>
		<li>This tool can save your encrypted password for you. You need to provide user id against which this will be saved. So if you want retrieve it
			later then just provide user id. This tool will look up stored encrypted password with you. NOTE: it doesn't store decrypted password so you have to decrypt
			it if you need that. Your user id should be enough but duplicate user id can happen hence 4 digit passcode is also expected with it</li>
	</ul>
</div>