/* You can add global styles to this file, and also import other style files */
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='blue' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    width: 70px !important;
    height: 70px !important;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='blue' viewBox='0 0 8 8'%3E%3Cpath d='M4.0 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    width: 70px !important;
    height:70px !important;
}
.modal-xxl .modal-lg {
  max-width: 80%;
}
.modalimgstyle{
  max-height: 100%; max-width: 100%; border-style: solid; border-width: medium; border-radius: 10px; border-color: lightgrey;
}
/* .carousel-control-prev-icon {
    background-image: url("assets/images/rightArrow.png") !important;
    width: 50px !important;
    height: 50px !important;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='lightgrey' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
} */
/* 

https://github.com/twbs/bootstrap/issues/21985

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;

  width: auto;
  height: auto;

  font-size: 1.5rem;
  color: $carousel-control-color;

  @extend .fa;
}
.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-caption {
  text-shadow: 0 0 0.8rem black;
}
.carousel-control-prev-icon {
  @extend .fa-arrow-circle-left;
}
.carousel-control-next-icon {
  @extend .fa-chevron-right;
}
.carousel-indicators li {
  box-shadow: 0 1px 0.4rem rgba(0, 0, 0, 0.5);
} */