<br/>
<div class="panel panel-default">
  <div class="panel-heading">Moves to watch</div>
  <div class="panel-body">
    <p>Everything here</p>
  </div>
  <!-- Table -->
  <table class="table">
  	<tr>
  		<th>Move Name</th>
  		<th>Trailer</th>
  		<th>Download link</th>
  		<th>Subtitles</th>
  		<th>Click to add filter</th>
  	</tr>
  	<tr *ngFor="let movieInfo of movieInfos">
  		<td>{{movieInfo.filter}}</td>
  		<td><button class="btn btn-default" (click)="updateUrl(movieInfo.youtube)">Show Trailer</button></td>
  		<td><button class="btn btn-default" ngxClipboard [cbContent]="movieInfo.magnet">Copy Download Link</button></td>
  		<!-- <td><button class="btn btn-default" [class.btn-success]="isCopiedM" ngxClipboard [cbContent]="movieInfo.magnet"	(cbOnSuccess)="isCopiedM = true">Copy Download Link</button></td> -->
  		<td><a href="{{movieInfo.subscene}}">Download SubTitle</a></td>
  		<td><button class="btn btn-default" (click)="addFilter(movieInfo.filter)">Add to Filter</button></td>
  	</tr>
  </table>
  
  <!-- 16:9 aspect ratio -->
	<div class="embed-responsive embed-responsive-16by9">
	  <iframe class="embed-responsive-item" [src]="trailerUrl"></iframe>
	</div>

</div>

