<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="thumbnail">
        <div class="caption">
          <h3>Weight Check App</h3>
          <p>Use this app to track your weight</p>
          <ul><b><ins>It's features</ins></b>
            <li>When you launch it for first time it asks for use name. After that it remebers thtat.</li>
            <li>It allows you to upload information only once for the day. It's just to promote daily logging of information.</li>
          </ul>
          <ul><b><ins>Future Enhancements</ins></b>
            <li>For missed day's automatically create entry</li>
            <li>Allow user to modify details of any entry</li>
          </ul>
          <ul><b><ins>Coding Highlight</ins></b>
            <li>SVG modification for icon, color and path changes</li>
            <li>Async http call. Use of Shared perference persistence. Adapter(Listview) implentation</li>
          </ul>
          <ngb-carousel interval=80000>
              <ng-template ngbSlide>
                <img src="assets/images/WeightCheck_1.png" alt="Random first slide" style="margin:auto; border-radius:55px;">
                <div class="carousel-caption">
                  <h3>Home Page</h3>
                  <p>Welcome page when app is launched</p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/images/WeightCheck_2.png" alt="Random second slide" style="margin:auto; border-radius:55px;">
                <div class="carousel-caption">
                  <h3>Details</h3>
                  <p>When you click on item</p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/images/WeightCheck_3.png" alt="Random third slide" style="margin:auto; border-radius:55px;">
                <div class="carousel-caption">
                  <h3>Trend</h3>
                  <p>When you swipe left on home page</p>
                </div>
              </ng-template>
            </ngb-carousel>
            <br>
            <p><a href="https://s3.us-east-2.amazonaws.com/sims3bucket1/android/app-release.apk" class="btn btn-primary" role="button">Download apk</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <div class="caption">
          <h3>Party on me</h3>
          <p>Use this app to ..</p>
          <p><a href="#" class="btn btn-primary" role="button" disalbed="true">Download apk</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <div class="caption">
          <h3>Catalog your items</h3>
          <p>Use this app to </p>
          <p><a href="#" class="btn btn-primary" role="button" disalbed="true">Download apk</a></p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-4">
      <div class="thumbnail">
        <div class="caption">
          <h3>Predict item to buy!</h3>
          <p>Use this app to </p>
          <p><a href="#" class="btn btn-primary" role="button" disalbed="true">Download apk</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="abc">xyz</div>