<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Simron Deep Singh</h1>
					<h2>Solution Architect</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a href="mailto:simron.singh@gmail.com">simron.singh@gmail.com</a></h3>
						<h3>+1 (630) - 329-3516</h3>
						<h3>Schaumburg, IL - 60173</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								Looking for an opportunity to make difference in IT industry by automation and innovation to make better software. 
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h3>Solution</h3>
									<p>Exploiting existing product features with innovation while kepping in mind futuere needs.</p>
								</div>

								<div class="talent">
									<h3>Development</h3>
									<p>Deliverying software which is robust, responsive, fast and maintenable.</p>
								</div>

								<div class="talent">
									<h3>Support</h3>
									<p>Quick workaround for immediate relief with automation capabilites</p>
								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
                <h3>Languages</h3>
								<li>Java(10)</li>
								<li>EJB(8)</li>
								<li>Javascript(3)</li>
								<li>jQuery(4)</li>
								<li>Spring(8)</li>
								<li>Struts(7)</li>
								<li>JMS(7)</li>
								<li class="last">REST(4)</li>
							</ul>

							<ul class="talent">
                <h3>Framework</h3>
								<li>JSF(5)JSP(8)</li>
								<li>JAX-WS(8)</li>
								<li>Hibernate(7)JPA(5)</li>
								<li>RxJava(2)</li>
								<li>AngularJS(2)</li>
								<li>Ajax(8)</li>
								<li class="last">CVS/Perfroce/XtraC</li>
							</ul>

							<ul class="talent">
                <h3>Tools</h3>
								<li>Perl Scripting(8)</li>
								<li>Shell Scripting(9)</li>
								<li>PL/SQL(9)</li>
								<li>ARM SDK 500(7)</li>
								<li>Windows 98 to 10</li>
								<li>Redhat Linux</li>
								<li>Sun Solaris 9</li>
								<li class="last">Juniper Router/Switches</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Summary</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">
							<ul class="some">
								<li>12.5+ years in software development with Amdocs and Ericsson.</li>
								<li>I served in Telecom domain specifically  with order management</li>
								<li>Worked for clients Telefonica Chile(17-), Comcast(16-17), Telefonica Argentina(15-16), US Cellular(14-16), AMX One(11-14), Rogers Canada(9-11), Sprint.USA(6-9), Dishent(5-6), Airtel India(4-5) *2005 is written as 5</li>
								<li>My key persontality traits are innovation and insightfulness. With these traits I have been able to exceed expectations. My innovation list includes numerous tools, quick fixes of problems and resolution of key issues.</li>
								<li>I have been involved in every phase of development cycle solutions, scoping, design, coding, testing, supporting, managing team, and training, cross site team management.</li>
								<li>I have had role of product owner, security leader, FOSS implementation, tools implementation, performance check.</li>
								<li>I have worked for Rogers, Sprint, Comcast, AT&T, AMX One Columbia/Chile, Telefonica Argentina/Chile, USCellular, Vodafone NL, Telesonera Finland </li>
								<li class="last">Currently I am managing “Order To Activation” service which includes providing quick production solution, automation of solutions, keeping customer informed about production status, creating tools, training team.</li>
							</ul>
						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">
							<ul class="talent">
								<li>Amdocs Inc.</li>
								<li>Business Analyst</li>
								<li class="last">2014-tillToday</li>
							</ul>
							<ul class="talent">
								<li>Amdocs DVCI</li>
								<li>Development Expert</li>
								<li class="last">2006-2014</li>
							</ul>
							<ul class="talent">
								<li>Ericsson</li>
								<li>Support Engineer</li>
								<li class="last">2004-2006</li>
							</ul>
						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h3>Amity School of Engineering and Technology of G.G.S.I.P.U.(Indraprashta University) - Delhi, India</h3>
							<h3>Bachelor of Technology in Electronics and Communication </h3>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<!--div id="ft">
			<p>Simron Deep Singh &mdash; <a href="mailto:simron.singh@gmail.com">simron.singh@gmail.com</a> &mdash; +1 (630) - 329-3516</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->
