<div class="container-fluid">
		<div class="form-group">
			<label>Url</label> <input type="text" class="form-control" placeholder="http://abc:8080" [(ngModel)]="aUrl">
		</div>
		<div class="form-group">
			<label>String</label> <input type="text" class="form-control" placeholder="abc" [(ngModel)]="aText">
		</div>
		<div class="form-group">
			<button class="btn btn-primary" type="button" [disabled]="!aUrl || !aText" (click)="submitInput()">Post</button>
		</div>
		<div>{{aRes}}</div>
		<div>{{aErrRes}}</div>
</div>