<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center">
	<h1>Welcome to {{title}}!</h1>
</div>

<hr />

<div class="container-fluid">
	<div class="col-sm-2" style="border-right:1px solid #eee;height:700px">
		<ul class="nav nav-pills nav-stacked">
			<li routerLinkActive="active"><a routerLink="/passapp">Password App</a></li>
			<li routerLinkActive="active"><a routerLink="/luhnapp">Luhn Algorithim for CC last bit check</a></li>
			<li routerLinkActive="active"><a routerLink="/ggd">Guru Granth Darpan</a></li>
			<li routerLinkActive="active"><a routerLink="/vma">Virtual Machine Allocation</a></li>
			<li routerLinkActive="active"><a routerLink="/nufapp">Not used feature set</a></li>
		</ul>
	</div>
	<div class="col-sm-10">
		<div class="panel panel-primary">
			<router-outlet><!-- <h3>Select any app from left panel</h3> --></router-outlet>
		</div>
	</div>
</div>
<!-- <span class="label label-default">Default</span>
<span class="label label-primary">Primary</span>
 -->