<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center">
	<h1>Welcome to {{title}}!</h1>
</div>

<hr />

<div class="container-fluid">
	<div class="row">
	<div class="col-sm-2" style="border-right:1px solid #eee;height:700px">
		<ul class="nav flex-column nav-pills ">
			<li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/about">About</a></li>
			<li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/passapp">Password App</a></li>
			<li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/luhnapp">Luhn Algorithim for CC last bit check</a></li>
			<li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/ggd">Guru Granth Darpan</a></li>
			<li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/vma">Virtual Machine(Resource) Allocation</a></li>
			<li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/nufapp">Not used feature set</a></li>
			<li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/posttest">Postman</a></li>
			<li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/oa">OAuth2</a></li>
			<!-- <li><a routerLinkActive="active" class="nav-link"routerLink="/movie">Movies</a></li> -->
			<li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/and">Android Projects</a></li>
			<li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/amd">Amdocs Tools</a></li>
		</ul>
	</div>
	<div class="col-sm-10">
		<div>
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
</div>
<!-- <span class="label label-default">Default</span>
<span class="label label-primary">Primary</span>
 -->
