<div class="container-fluid">
	<button *ngIf="loggedInUser" class="btn btn-outline-info pull-right" (click)="refresh()">Refresh VM list</button>
	<button *ngIf="loggedInUser" class="btn btn-outline-info pull-right" (click)="logout()">logout</button>
	<a *ngIf="!loggedInUser" class="btn btn-outline-info pull-right" href="/#/vma/vmal">login please</a>
	<hr/>
	<div class="row">
		<div class="col-sm-2">
			<ul class="nav nav-pills flex-column">
			  <li class="nav-item"><a [ngClass]="isActiveFor('lbu')?'nav-link active':'nav-link'" (click)="setTab('lbu')">Locked By You</a></li>
			  <li class="nav-item"><a [ngClass]="isActiveFor('lock')?'nav-link active':'nav-link'" (click)="setTab('lock')">Locked By Others</a></li>
			  <li class="nav-item"><a [ngClass]="isActiveFor('avail')?'nav-link active':'nav-link'" (click)="setTab('avail')">Available VMs</a></li>
			  <li class="nav-item"><a [ngClass]="isActiveFor('admin')?'nav-link active':'nav-link'" (click)="setTab('admin')">Administrator</a></li>
			</ul>
		</div>
		<div class="col-sm-10">
			<span class="form-text text-muted" *ngIf="!activeTab && loggedInUser">Please select a option from menu</span>
			<app-vma-aloc-lockedbyou *ngIf="activeTab === 'lbu'" [cVmList]="vmList" [cLoggedInUser]="loggedInUser" [cUser]="userId" (cVmReleased)="releaseVM($event)"></app-vma-aloc-lockedbyou>
			<app-vma-aloc-locked *ngIf="activeTab === 'lock'" [cVmList]="vmList" [cLoggedInUser]="loggedInUser" [cUser]="userId"></app-vma-aloc-locked>
			<app-vma-aloc-available *ngIf="activeTab === 'avail'" [cVmList]="vmList" [cLoggedInUser]="loggedInUser" (cVmOccupied)="lockVM($event)"></app-vma-aloc-available>
			<app-vma-aloc-admin *ngIf="activeTab === 'admin'" [cVmList]="vmList" [cLoggedInUser]="loggedInUser" [cUser]="userId" (cVmReleased)="releaseVM($event)" (cVmAdd)="addVM($event)" (cVmRemove)="removeVM($event)"></app-vma-aloc-admin>
		</div>
    </div>
	{{message}}
	<!-- . --> <!-- . is added so that button are encapsulated in panel       Now this dot is not required because of container-fluid -->
</div>