<div class="container-fluid">
	<button *ngIf="loggedInUser" class="btn btn-default pull-right" (click)="logout()">logout</button>
	<a *ngIf="!loggedInUser" class="btn btn-default pull-right" href="/#/vma/vmal">login please</a>
	<hr/>
	<div class="col-sm-12">
		<div class="col-sm-2">
			<ul class="nav nav-pills nav-stacked">
			  <li [ngClass]="{'active': isActiveFor('lbu') }" (click)="setTab('lbu')"><a>Locked By You</a></li>
			  <li [ngClass]="{'active': isActiveFor('lock') }" (click)="setTab('lock')"><a>Locked By Others</a></li>
			  <li [ngClass]="{'active': isActiveFor('avail') }" (click)="setTab('avail')"><a>Available VMs</a></li>
			  <li [ngClass]="{'active': isActiveFor('admin') }" (click)="setTab('admin')"><a>Administrator</a></li>
			</ul>
		</div>
		<div class="col-sm-10	">
			<span class="help-block" *ngIf="!activeTab">Please select a option from menu</span>
			<app-vma-aloc-lockedbyou *ngIf="activeTab === 'lbu'" [cVmList]="vmList" [cLoggedInUser]="loggedInUser" (cVmReleased)="releaseVM($event)"></app-vma-aloc-lockedbyou>
			<app-vma-aloc-locked *ngIf="activeTab === 'lock'" [cVmList]="vmList" [cLoggedInUser]="loggedInUser"></app-vma-aloc-locked>
			<app-vma-aloc-available *ngIf="activeTab === 'avail'" [cVmList]="vmList" [cLoggedInUser]="loggedInUser" (cVmOccupied)="lockVM($event)"></app-vma-aloc-available>
			<app-vma-aloc-admin *ngIf="activeTab === 'admin'" [cVmList]="vmList" [cLoggedInUser]="loggedInUser" (cVmReleased)="lockVM($event)" (cVmAdd)="addVM($event)" (cVmRemove)="removeVM($event)"></app-vma-aloc-admin>
		</div>
	</div>
	{{message}}
	<!-- . --> <!-- . is added so that button are encapsulated in panel       Now this dot is not required because of container-fluid -->
</div>