<h3><span class="label label-danger" *ngIf="cUser !== 'admin'">Only admin is allowed here</span></h3>
<div *ngIf="cUser === 'admin'">
	Enter virtual machine name you want to add/remove
	<input [(ngModel)]="vmToAct" placeholder="virtual machine name"/>
	<button [disabled]="!vmToAct || vmToAct.length > 32 || isVMExist()" class="btn btn-default" (click)="onAdd()">Add</button>
	<button [disabled]="!vmToAct || vmToAct.length > 32 || !isVMExist()" class="btn btn-default" (click)="onRemove()">Remove</button>
	<hr/>
	<h3>Following machine are locked by users. To release lock from the machine just click on them</h3>
	<span *ngFor="let vm of cVmList">
		<button *ngIf="vm.user" class="btn btn-default col-sm-2" style="margin:10px" (click)="onRelease(vm.vmName)">{{vm.vmName}}</button>
	</span>
	{{message}}
</div>
