<div class="container-fluid">
	<div class="form-group">
		<button class="btn btn-primary" type="button" [disabled]="false" (click)="gitCodeGeneration()">Submit to login via git</button>
	</div>
	<div class="form-group">
		<button class="btn btn-primary" type="button" [disabled]="false" (click)="gitGeneratedCode()">Check level 1 authentication passed</button>
	</div>
	<div class="form-group">
		<button class="btn btn-primary" type="button" [disabled]="!this.code" (click)="gitGetBearer()">Perform level 2 authentication</button>
	</div>
</div>
{{message}}