<p>
  I consider myself as creative person but don't confuse it with artistic personality. I like to build things and gets excited with perforamnce aspect of it.
  In my school time I thought about building mechanical machines. As I learned about electronics thought about building automatic machines.
  As I started software industry building tools becomes the new craze. Love riding bike, gets so much adreinal.
  People tells me that I have phylosphical personality. I see reason for that is I am quite curious about why of everything and why of why of why leads to difficult question.
  I started my career in 2004, leaving my home town for the first time was fun. After that it become difficult to stay in town.
  If you are inclined towards my resume then you can click <a tabindex="1" (click)="open()" style="cursor:pointer">Resume</a> or check out <a href="https://www.linkedin.com/in/simrondeepsingh/">linkedIn profile</a>. Not active on facebook left that in 2011, I think.
</p>
<!-- <app-resume-compressed></app-resume-compressed> -->