<div class="container-fluid">
	<div class="form-group">
		Message = {{hello}}
	</div>
	<div class="form-group">
		<button (click)="onClickGet()">get</button>
	</div>
	<div class="form-group">
		<button (click)="onClickGetS()">get with contnet type text</button>
	</div>
	<div class="form-group">
		<button (click)="onClickGetCM()">get with catch and map</button>
	</div>
	<div class="form-group">
		<button (click)="onClickGetP()">get with parameter</button>
	</div>
<!-- 	<div class="form-group">
		<button (click)="onClickGetI()">get with id</button>
	</div> -->
</div>