<div class="container-fluid">
	<div *ngIf="!retrieved">
		<div class="form-group">
			<label>User Id</label> <input type="text" class="form-control" required #userv="ngModel" placeholder="user id for saving encrypted password"
				[(ngModel)]="passwdSaveInfo.userId" required>
			<div *ngIf="userv.invalid && (userv.dirty || userv.touched)" class="alert alert-danger">
				<div *ngIf="userv.errors.required">User id is mandatory as this is the user against which password will be stored.</div>
			</div>
		</div>
		<div class="form-group">
			<label>Passcode</label> <input type="text" class="form-control" required pattern="^[0-9]{4,4}$" #passcodev="ngModel" placeholder="4 digit"
				[(ngModel)]="passwdSaveInfo.passCode">
			<div *ngIf="passcodev.invalid && (passcodev.dirty || passcodev.touched)" class="alert alert-danger">
				<div *ngIf="passcodev.errors.pattern">Digit only and must be 4 characters long.</div>
				<div *ngIf="passcodev.errors.required">Passcode is mandatory. Its to know its really you.</div>
			</div>
		</div>
		<div class="form-group">
			<button class="btn btn-primary" type="button" [disabled]="!passwdSaveInfo.userId || !passwdSaveInfo.passCode || (passwdSaveInfo.passCode && (passwdSaveInfo.passCode.match('[^0-9]') || passwdSaveInfo.passCode.length != 4))" (click)="submitInput()">Submit to get list</button>
		</div>
	</div>
	<span class="form-text text-muted" [innerHTML]="message"></span>
	<div *ngIf="retrieved">
		<table class="table">
			<tr>
				<th>Reference Text</th>
				<th>Encrypted Password</th>
				<th></th>
			</tr>
			<tr *ngFor="let key of objectKeys(mapObject)">
				<td>{{key}}</td>
				<td>{{mapObject[key]}}</td>
				<td><a routerLink="../pdec" class="btn btn-success pull-right" (click)="decPasswd(mapObject[key]);"> Decrypt it </a></td>
			</tr>
		</table>
	</div>
</div>
