<!-- <div>
	<div class="input-group">
	  <span class="input-group-addon">Vault Password</span>
	  <input type="text" class="form-control" placeholder="vPasswd" [(ngModel)]="passwdInfo.passwd">
	</div>
</div> -->


<div class="container-fluid">
	<div class="form-group"> <!-- input group can be used but it shorten the input length -->
	  <label>Vault Password:</label>
	  <input type="text" class="form-control" required #passwdv="ngModel" placeholder="Big vault password" [(ngModel)]="passwdInfo.passwd">
	  <div *ngIf="passwdv.invalid && (passwdv.dirty || passwdv.touched)" class="alert alert-danger">
			<div *ngIf="passwdv.errors.required">Valut password is mandatory.</div>
	  </div>
	</div>
	<div class="form-group">
	  <label>Salt:</label>
	  <input type="text" class="form-control" required pattern="^[0-9]{8,8}$" #saltv="ngModel" placeholder="8 digit salt" [(ngModel)]="passwdInfo.salt">
	  <div *ngIf="saltv.invalid && (saltv.dirty || saltv.touched)" class="alert alert-danger">
			<div *ngIf="saltv.errors.pattern">Digit only and must be 8 characters long.</div>
			<div *ngIf="saltv.errors.required">Salt is mandatory.</div>
	  </div>
	</div>
	<div class="form-group">
	  <label>Encrypted Password:</label>
	  <input type="text" class="form-control" required pattern="^.{64,64}$" #encv="ngModel" placeholder="encrypted password string" [(ngModel)]="passwdInfo.encryptedPasswd">
	  <div *ngIf="encv.invalid && (encv.dirty || encv.touched)" class="alert alert-danger">
			<div *ngIf="encv.errors.pattern">It's length has to be exact 64</div>
			<div *ngIf="encv.errors.required">To decrypt you need to provide encrypted password.</div>
	  </div>
	</div>
	<div class="form-group" *ngIf="!passwdInfo.generatedPasswd">
		<button [disabled]="!passwdInfo.passwd || !passwdInfo.salt || (passwdInfo.salt && (passwdInfo.salt.length !== 8 || passwdInfo.salt.match('[^0-9]'))) || !passwdInfo.encryptedPasswd || (passwdInfo.encryptedPasswd && (passwdInfo.encryptedPasswd.length != 64)) " 
		class="btn btn-primary" type="button" (click)="submitInput()">Submit to get generated password</button>
	</div>
	<span class="help-block" [innerHTML]="message"></span>
	<div class="input-group form-group" *ngIf="passwdInfo.generatedPasswd">
	  <span class="input-group-addon">Generated Password</span>
	  <span class="form-control" >{{passwdInfo.generatedPasswd}}</span>
	  <span class="input-group-btn">
        <button class="btn btn-default" [class.btn-success]= "isCopiedE" type="button" ngxClipboard [cbContent]="passwdInfo.generatedPasswd" (cbOnSuccess)="isCopiedE = true">Copy to clipboard</button>
      </span>
	</div>
	<div class="form-group" *ngIf="passwdInfo.generatedPasswd">
		<button class="btn btn-warning" type="button" (click)="resetInput()">Reset</button>
	</div>
</div>